<div class="container py-5">
  <div class="row">
    <div class="col-md-8">
      <h3 class="text-white mb-3">Edit Comment</h3>
      <%= form_tag update_comment_movie_path(@movie, comment_id: @comment["_id"]), method: :patch, local: true do %>
        <div class="mb-3">
          <%= label_tag :content, "Comment:", class: "form-label text-white" %>
          <%= text_area_tag :content, @comment['content'], class: "form-control bg-dark text-white", rows: 3, placeholder: "Edit your comment..." %>
        </div>
        <%= submit_tag "Update Comment", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
