<div class="container py-5">
  <h2 class="text-white mb-4">Search Movies</h2>
  <%= render 'movies/partials/search_form' %>

  <h3 class="text-white mb-4">Search Results</h3>
  <div class="row g-4">
    <%= render 'movies/partials/search_results', movies: @movies %>
  </div>
</div>
