<div class="no-movies-message d-flex align-items-center justify-content-center p-4 rounded-3 shadow-lg text-center">
  <i class="fas fa-star me-3"></i>
  <p class="text-white mb-0">Comece a salvar seus filmes favoritos, faça uma pesquisa!</p>
</div>
