.btn-outline-light:hover {
  color: #000;
}

.movie-app .btn-primary {
  background-color: #e50914 !important;
  border-color: #e50914 !important;
}

.movie-app .btn-primary:hover,
.movie-app .btn-primary:focus {
  background-color: #b2070f !important;
  border-color: #b2070f !important;
}
